* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .App {
    position: relative; /* Allow positioning of children */
    width: 100%;
    height: 100%;
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center horizontally */
  }
  
  .canvas-container {
    position: absolute; /* Position the canvas container absolutely */
    top: 0;
    left: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    z-index: -1; /* Ensure it stays in the background */
  }
  
  html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffb488;
  }
  
  h1 {
    width: fit-content;
    padding-top: 150px;
    font-size: 80px;
    font-weight: 800;
    color: #ffeeee;
    text-shadow: 2px 2px 4px rgba(27, 27, 27, 0.427);
    margin-bottom: 32px;
  }
  
  #state {
    margin-bottom: 24px;
    padding: 0 100px 0 100px;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(27, 27, 27, 0.427);
  }
  
  ::placeholder {
    color: #878787;
    font-size: 20px;
  }
  
  input {
    width: 400px;
    height: 70px;
    padding: 16px 12px;
    font-size: 20px;
    background-color: #ffe2cb;
    color: #8d4810;
    border: #ff7c12 4px solid;
    border-radius: 16px;
    cursor: pointer;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  button {
    margin: 24px;
    border: none;
    padding: 16px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    background-color: #8d4810;
    border-radius: 16px;
    color: rgb(255, 240, 240);
    cursor: pointer;
  }
  